body {
	width: 400px;
}
.panel {
	margin-bottom: 0;
}
#editor {
	height:390px;
	margin-bottom:10px;
}
.task-item {
	margin-bottom:10px;
	position: relative;
	padding-left:50px;
}
.task-item-label {
	position: absolute;
	display: inline-block;
	left:0;
}
.task-item-content {
	position: relative;
}
.task-item-content>div {
	float:left;
	margin-right:10px;
}
.task-message {
	margin:0;
	height:30px;
	line-height:30px;
}